    html, body {
        height: 100%;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .navbar {
        border-bottom: 5px #7a0000 solid;
    }

    .carousel .carousel-item img {
        height: 300px !important;
        width: 100% !important;
    }

    .accordion {
        align-items: center;
    }

    .logo {
        text-align: center;
    }
    
    .szuronev {
        text-align: center;
    }

    .kapcsolatmaps {
        width: 100%;
        height: 100%;
    }

    footer {
        position: fixed;
        border-top: 5px #7a0000 solid;
        bottom: 0;
        width: 100%;
        height: 100px;
    } 